<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(224, 200, 121);">
    
    <h1>Welcome to HungerPoint</h1>

    <h2>The Company was founded by Kanhyavanshi-Groups</h2>

    <div style="grid-row: span;">

        <div>
            <h4 style="margin-left: 20px;">Honourable Founder:</h4>
            <img src="/images/owner.jpg" style="padding: 10px; height: 200px; width: 170px;" alt="Photo of owner">
            <p style="margin-left: 50px;">R.P. Singh</p>
        </div>
        
        
        <div >
            <h4 style="margin-left: 60px;">CEO:</h4>
            <img src="/images/ceo.jpg" style="padding: 10px; height: 200px; width: 170px;" alt="Photo of CEO">
            <p style="margin-left: 50px;">Rajat Gupta</p>
        </div>

    </div>
    

    
    <h4>Since 1992</h4>
</body>
</html>