<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body style="background-color: rgb(224, 200, 121);">
    <h2>User id is: <%= user.id %></h2>
    <h2>User name is: <%= user.username %></h2>
    <h2>User Email is: <%= user.email %></h2>

</body>
</html>
